.table {
  height: 100%;
  margin: 5px;
  overflow: hidden;
}

.table_title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #1976d2;
  font-weight: bold;
}

.table_wrapper {
  height: 95%;
  overflow: auto;
}
.table_wrapper thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table_wrapper table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table_wrapper th,
.table_wrapper td {
  padding: 4px 8px;
}
.table_wrapper th {
  background: #eee;
}

.table_wrapper tr:hover {
  background: #a7a7a798;
  cursor: pointer;
}

.is_active {
  margin: 0px;
  color: #00b300;
  font-weight: bold;
}

.not_active {
  margin: 0px;
  color: #b30000;
  font-weight: bold;
}
